/* increase default icon size */
i.bi {
  font-size: 25px;
}

.error-message {
  color: red;
}

.wrong-field {
  border-color: red;
  border-width: 2px;
}

/* custom star style */
#films-list i.bi {
  cursor: pointer;
}

.dark-green-bg {
  background-color: #003d04;
}



.icon-container {
  display: flex;
  justify-content: center;
}

.rotate-icon {
  font-size: 10rem; /* Imposta la dimensione desiderata */
  animation: scale 4s linear infinite alternate;
}

@keyframes scale {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.5); }
}