/* increase default icon size */
i.bi {
  font-size: 25px;
}

.error-message {
  color: red;
}

.wrong-field {
  border-color: red;
  border-width: 2px;
}

/* custom star style */
#films-list i.bi {
  cursor: pointer;
}